<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row" id="vueLogin">
        <div class="col-sm">
            <div class="d-flex justify-content-end">
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" value="">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="text" id="password" value="">
                </div>
                <button @click="login()">Login</button>
                <button @click="signUp()">SingUp</button>
                <button @click="logout()">Logout</button>
            </div>
        </div>
    </div>
    <div id="vueGameView">
        <div class="row d-flex justify-content-center m-4">
            <div v-if="!!Object.keys(gameInfo).length">
                <h2 class="text-center" v-if="gameInfo.gamePlayers.length === 1 && !gameInfo.ships.length">While you wait for another player you can place the ships</h2>
                <h2 class="text-center" v-else-if="gameInfo.gamePlayers.length === 1">Wait for an opponent</h2>
                <h2 class="text-center" v-else-if="!gameInfo.ships.length">Place ships</h2>
                <h2 class="text-center" v-else-if="!gameInfo.opponentHasShips">The opponent has to place their ships</h2>
                <h2 class="text-center" v-else-if="!highestTurnThanOpponent(gameInfo) && !gameIsFinish(gameInfo)">Shoot!</h2>
                <h2 class="text-center" v-else-if="highestTurnThanOpponent(gameInfo)">Waiting shots from the opponent</h2>
                <h2 class="text-center" v-else-if="this.winGame(gameInfo, 'hitsOnEnemy') && !winGame(gameInfo, 'hitsOnMe')">You win the game!</h2>
                <h2 class="text-center" v-else-if="this.winGame(gameInfo, 'hitsOnMe') && !winGame(gameInfo, 'hitsOnEnemy')">You lost</h2>
                <h2 class="text-center" v-else-if="this.winGame(gameInfo, 'hitsOnEnemy') && winGame(gameInfo, 'hitsOnMe')">Tied game</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div v-if="!!Object.keys(gameInfo).length" class="d-flex justify-content-around">
                    <div v-if="!shipIsPlaced.carrier">
                        <p>Carrier</p>
                        <form>
                            <input type="radio" name="ship" value="5Vcarrier" id="carrierV" v-model="check"
                                   @click="addEventsOnShipTable()">
                            <label for="carrierV">V</label>
                            <input type="radio" name="ship" value="5Hcarrier" id="carrierH" v-model="check"
                                   @click="addEventsOnShipTable()">
                            <label for="carrierH">H</label>
                        </form>
                    </div>
                    <div v-if="!shipIsPlaced.battleship">
                        <p>Battleship</p>
                        <form>
                            <input type="radio" name="ship" value="4Vbattleship" id="battleshipV" v-model="check"
                                   @click="addEventsOnShipTable()">
                            <label for="battleshipV">V</label>
                            <input type="radio" name="ship" value="4Hbattleship" id="battlesHipH" v-model="check"
                                   @click="addEventsOnShipTable()">
                            <label for="battleshipH">H</label>
                        </form>
                    </div>
                    <div v-if="!shipIsPlaced.submarine">
                        <p>Submarine</p>
                        <form>
                            <input type="radio" name="ship" value="3Vsubmarine" id="submarineV" v-model="check"
                                   @click="addEventsOnShipTable()">
                            <label for="submarineV">V</label>
                            <input type="radio" name="ship" value="3Hsubmarine" id="submarineH" v-model="check"
                                   @click="addEventsOnShipTable()">
                            <label for="submarineH">H</label>
                        </form>
                    </div>
                    <div v-if="!shipIsPlaced.destroyer">
                        <p>Destroyer</p>
                        <form>
                            <input type="radio" name="ship" value="3Vdestroyer" id="destroyerV" v-model="check"
                                   @click="addEventsOnShipTable">
                            <label for="destroyerV">V</label>
                            <input type="radio" name="ship" value="3Hdestroyer" id="destroyerH" v-model="check"
                                   @click="addEventsOnShipTable">
                            <label for="destroyerH">H</label>
                        </form>
                    </div>
                    <div v-if="!shipIsPlaced.patrolBoat">
                        <p>Patrol Boat</p>
                        <form>
                            <input type="radio" name="ship" value="2VpatrolBoat" id="patrolBoatV" v-model="check"
                                   @click="addEventsOnShipTable">
                            <label for="patrolBoatV">V</label>
                            <input type="radio" name="ship" value="2HpatrolBoat" id="patrolBoatH" v-model="check"
                                   @click="addEventsOnShipTable">
                            <label for="patrolBoatH">H</label>
                        </form>
                    </div>
                </div>
                <h1 class="text-center mb-4">Ships Locations</h1>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td></td>
                        <td v-for="n in 10">{{ n }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="letter of tableLetters">
                        <td>{{ letter }}</td>
                        <td class="shipTable" v-for="number in 10" :id="`mainPlayer${letter}${number}`"
                            :data-size="check.slice(0,1)" :data-direction="check.slice(1,2)"
                            :data-type="check.slice(2)"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-sm">
                    <button :disabled="shipsToSend.length != 5" @click="postShips()">Place Ships</button>
                </div>
            </div>

            <div class="col-sm d-flex align-items-end">
                <div>
                    <h1 class="text-center mb-4">Salvoes</h1>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td></td>
                            <td v-for="n in 10">{{ n }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="letter of tableLetters">
                            <td>{{ letter }}</td>
                            <td class="salvoTable" v-for="number in 10" :id="`salvo${letter}${number}`"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-sm">
                        <button :disabled="newSalvo.length != 5" @click="postSalvo()">Shoot</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                <div class="grid">
                    <template v-for="ship in hitsOnMe">
                        <p v-if="ship.type === 'carrier'">
                            Carrier <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 5 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                        <p v-else-if="ship.type === 'battleship'">
                            Battleship <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 4 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                        <p v-else-if="ship.type === 'submarine'">
                            Submarine <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 3 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                        <p v-else-if="ship.type === 'destroyer'" :class="{ line: ship.hitLocations.length === 3}">
                            Destroyer <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 3 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                        <p v-else="ship.type === 'patrolBoat'">
                            Patrol Boat <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 2 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                    </template>
                </div>
                <h3 class="text-center">Hits on your ships</h3>
                <div>
                    <div v-for="hit in gameInfo.hitsOnMe">
                        <ul>
                            <li>Turn {{hit.turn}}</li>
                            <li v-if="hit.ships.length === 0">
                                <ul>
                                    <li>No hits</li>
                                </ul>
                            </li>
                            <li v-else>
                                <ul>
                                    <li v-for="ship in hit.ships">
                                        <span v-if="ship.type === 'carrier'">Carrier <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                        <span v-else-if="ship.type === 'battleship'">Battleship <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                        <span v-else-if="ship.type === 'submarine'">Submarine <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                        <span v-else-if="ship.type === 'destroyer'">Destroyer <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                        <span v-else-if="ship.type === 'patrolBoat'">Patrol Boat <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="grid">
                    <template v-for="ship in hitsOnEnemy">
                        <p v-if="ship.type === 'carrier'">
                            Carrier <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 5 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                        <p v-else-if="ship.type === 'battleship'">
                            Battleship <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 4 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                        <p v-else-if="ship.type === 'submarine'">
                            Submarine <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 3 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                        <p v-else-if="ship.type === 'destroyer'">
                            Destroyer <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 3 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                        <p v-else="ship.type === 'patrolBoat'">
                            Patrol Boat <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i><i v-for="n in 2 - ship.hitLocations.length" class="fas fa-haykal"></i>
                        </p>
                    </template>
                </div>
                <h3 class="text-center">Hits on enemy ships</h3>
                <div>
                    <div v-for="hit in gameInfo.hitsOnEnemy">
                        <ul>
                            <li>Turn {{hit.turn}}</li>
                            <li v-if="hit.ships.length === 0">
                                <ul>
                                    <li>No hits</li>
                                </ul>
                            </li>
                            <li v-else>
                                <ul>
                                    <li v-for="ship in hit.ships">
                                        <span v-if="ship.type === 'carrier'">Carrier <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                        <span v-else-if="ship.type === 'battleship'">Battleship <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                        <span v-else-if="ship.type === 'submarine'">Submarine <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                        <span v-else-if="ship.type === 'destroyer'">Destroyer <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                        <span v-else-if="ship.type === 'patrolBoat'">Patrol Boat <i v-for="location in ship.hitLocations" class="fas fa-haykal hitted"></i></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="scripts/gameView.js"></script>
<script src="scripts/login.js"></script>
</body>
</html>