<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo Yeray Rodriguez</title>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container" id="vueGames">
    <div class="d-flex">
        <div v-if="!!playerID">
            <button @click="createGame()">Create new game</button>
        </div>
        <div v-for="game of games" class="m-3">
            <div class="text-center">
                <p>Game {{game.id}}</p>
            </div>
            <div>
                <p v-if="game.gamePlayers.length > 1">{{game.gamePlayers[0].player.name}} vs {{game.gamePlayers[1].player.name}}</p>
                <p v-else>{{game.gamePlayers[0].player.name}}</p>
            </div>
            <div>
                <p>{{game.created}}</p>
            </div>
            <div v-if="isLoginGameOwner(game)">
                <button @click="goToGame(game)">Game</button>
            </div>
            <div v-else-if="isLoginCanJoinGame(game)">
                <button @click="joinGame(game)">Join Game</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="scripts/games.js"></script>

</body>
</html>