td {
    text-align: center;
    width: 50px;
    max-width: 50px;
}

.carrier{
    background-color: lightcoral;
    border-radius: 15%;
}

.battleship {
    background-color: darkcyan;
    border-radius: 15%;
}

.submarine {
    background-color: seagreen;
    border-radius: 15%;
}

.destroyer {
    background-color: greenyellow;
    border-radius: 15%;
}

.patrolBoat {
    background-color: burlywood;
    border-radius: 15%;
}

.notPossibleShip {
    background-color: grey;
    border-radius: 15%;
}





