td {
    text-align: center;
    width: 50px;
    max-width: 50px;
}
.possibleSalvo{
    background-color: lightsalmon;
    border-radius: 30%;
}

.carrier{
    background-color: lightcoral;
    border-radius: 15%;
}

.battleship {
    background-color: chocolate;
    border-radius: 15%;
}

.submarine {
    background-color: seagreen;
    border-radius: 15%;
}

.destroyer {
    background-color: mediumslateblue;
    border-radius: 15%;
}

.patrolBoat {
    background-color: burlywood;
    border-radius: 15%;
}

.hit {
    background-color: orange;
    border-radius: 30%;
}

.noHit {
    background-color: deepskyblue;
    border-radius: 30%;
}

.notPossibleShip, .notPossibleSalvo {
    background-color: grey;
    border-radius: 30%;
}

ul {
    list-style-type: none;
}

.hitted {
    color: orange;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.line {
    text-decoration: line-through;
}

.scroll {
    overflow: auto;
}






